<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="40715OArquiteto.Tec.Pomodoro" Publisher="CN=A5E71672-B047-486B-8CF0-EE54A58507BC" Version="3.0.13.0" />
  <mp:PhoneIdentity PhoneProductId="e1927779-6f46-4a1c-bf90-5b375a27a47f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Tec. Pomodoro</DisplayName>
    <PublisherDisplayName>Little Hawk</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Tec.Pomodoro.App">
      <uap:VisualElements DisplayName="Tec. Pomodoro" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Tec. Pomodoro! Increase your productivity in your work and studies. The application helps you to use the pomodoro technique, defining times and tasks thus increasing your productivity" BackgroundColor="#D53349">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png" ShortName="Tec. Pomodoro">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#D53349" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="Tec. Pomodoro.Help">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.mediaPlayback" EntryPoint="Tec. Pomodoro.Help">
          <uap:MediaPlayback>
            <uap:Codec Name="&quot;uap3&quot;" />
          </uap:MediaPlayback>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>